/* Azeret Mono font import */
.azeret-mono-nayeem_style {
  font-family: "Azeret Mono";
}

/* CSS Reset */
body{
  background-color: #F5F5F7;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono";
}

ul,ol {
  list-style: none;
}

/* header & nav style */
nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
}

#nav-title {
  font-size: 28px;
  font-weight: 800;
  color: #0d1321;
}

#resume-download-bttn {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #3d424d;
  border: 1px solid #3d424d;
  border-radius: 10px;
  padding: 17px 24px;
}

#resume-download-bttn:hover {
  color: #654b4b;
  border-radius: 10px;
  border: 1px solid #5a5858;
  transition: 0.5s;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #654b4b,
    0 0 30px #654b4b, 0 0 40px #654b4b, 0 0 55px #654b4b, 0 0 75px #654b4b;
}

/* hero section */

#hero-container {
  background-image: url("../PH_B8-RB10_A1_Challenge-Begins-main/assets/Hero-bg.png");
  /* background-image: url("./assets/Hero-bg.png"); */
  background-repeat: no-repeat;
  /* background-position: center;
  background-attachment: fixed; */
  /* background-size: contain; */
  background-size: 100% 100%;
  height: 86vh;
}

#hero-img-container {
  width: 250px;
  height: 260px;
  margin: auto;
}

#hero-img-container > img {
  margin-top: 50px;
  width: 250px;
  height: 240px;
}

#hero-text-container {
  position: relative;
  /* height: 100px; */
}

#hero-text-title {
  text-align: center;
  line-height: 68px;
  margin-top: 60px;
  padding: 0px 383px;
  color: #3d424d;
  font-size: 48px;
  font-weight: 800;
}

#hero-text-para {
  text-align: center;
  line-height: 26px;
  opacity: 70%;
  margin-top: 30px;
  padding: 0px 550px;
  color: #565a64;
  font-size: 16px;
  font-weight: 500;
}

#hero-bttn {
  line-height: 26px;
  margin-top: 350px;
  padding: 20px 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  background-color: #0d1321;
  border-radius: 10px;
  border: 3px solid #a1a1a1;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#hero-bttn:hover {
  background-color: #b3b3b3;
  color: #654b4b;
  border-radius: 10px;
  border: 3px solid #5a5858;
  transition: 0.9s;
}

/* require why web dev container */
#why-web-dev {
  background-color: #f5f5f7;
  margin: 80px 180px;
  border-radius: 10px;
}

#container {
  padding: 60px;
}

#heading-why-web-dev > h3 {
  font-size: 32px;
  font-weight: 800;
  color: #3d424d;
  text-align: center;
}

#heading-why-web-dev > p {
  margin-top: 25px;
  font-size: 14px;
  font-weight: 400;
  color: #81838c;
  padding: 0px 150px;
  text-align: center;
}

#image-why-web-dev {
  margin-top: 45px;
}

#development-img-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #ffffff 70%, #f5f5f7 90%);
  border-radius: 15px;
  padding: 40px 40px 0 40px;
  margin: 0 50px;
}

#development-img-title > h3 {
  font-size: 24px;
  font-weight: 600;
  font-weight: 800;
  color: #3d424d;
}

#development-img-title > p {
  font-size: 16px;
  font-weight: 300;
  color: #81838c;
  margin: 10px 350px 50px 0;
}

#development-img-title > a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #545862;
  cursor: pointer;
  border: 1px solid #545862;
  border-radius: 5px;
  padding: 10px 20px;
}

#development-container-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  background-image: linear-gradient(to left, #ffffff 50%, #f5f5f7 90%);
  border-radius: 15px;
  padding: 40px 40px 0 40px;
  margin: 50px 50px;
}

#development-img-title-two > h3 {
  font-size: 24px;
  font-weight: 600;
  font-weight: 800;
  color: #3d424d;
  margin: 0 150px 10px 0;
}

#development-img-title-two > p {
  font-size: 16px;
  font-weight: 300;
  color: #81838c;
  margin-bottom: 60px;
}

#development-img-title-two > a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #545862;
  cursor: pointer;
  border: 1px solid #545862;
  border-radius: 5px;
  padding: 10px 20px;
}

/* require my inspiration */
#my-inspiration > div > h3 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  color: #3d424d;
}

#my-inspiration > div > p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-top: 25px;
  color: #0D1321;
  padding: 0px 300px;
}

center {
  margin: 50px 50px;
}

/* require my current target */
#my-current-target > h3 {
  font-size: 32px;
  font-weight: 800;
  color: #3d424d;
  text-align: center;
  margin-top: 200px;
}

#my-current-target > p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-top: 25px;
  color: #81838c;
  padding: 0px 300px;
}

#main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
  gap: 50px;
  border-radius: 15px;
}
#target-container {
  background-color: #f8dfd9;
  border-radius: 15px;
  padding: 40px 40px 0 40px;
  /* margin: 50px 20px; */
  width: 275px;
  height: 260px;
}
#target-container > img {
  width: 300px;
  height: 500px;
}

#target-text-container > h5 {
  font-size: 24px;
  font-weight: 800;
  color: #3d424d;
  margin: 35px 0 25px 0;
}

#target-text-container > p {
  font-size: 16px;
  font-weight: 400;
  color: #848389;
  margin: 15px 0 35px 0;;
}

#target-text-container > a {
  font-size: 16px;
  font-weight: 600;
  color: #3d424d;
  cursor: pointer;
}

#target-text-container > a:hover{
  text-decoration: none;
  color: #545862;
  font-weight: 800;
  transition: 0.5s;
}

#target-container-two {
  background-color: #d0dbf6;
  border-radius: 15px;
  padding: 40px 40px 0 40px;
  width: 275px;
  height: 260px;
}

#target-container-three{
  background-color: #faf1c6;
  border-radius: 15px;
  padding: 40px 40px 0 40px;
  width: 275px;
  height: 260px;
}

/* My Next Target */
#my-next-target{
  margin-top: 200px;
}

#my-next-target > h3{
  font-size: 32px;
  font-weight: 800;
  color: #3d424d;
  text-align: center;
}

#my-next-target > p{
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 35px 0 150px 0;
  color: #81838c;
  padding: 0px 300px;
}

#curtarget-main-container{
  margin: 250px;
}

#curtarget-container{
  background-color: white;
  border: 1px solid #bfc4d0;
  border-radius: 15px;
  padding: 10px 0 0 40px;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  margin: 15px 0;
}

#curtarget-img-container > img {
  width: 108px;
  height: 100px;
}

#curtarget-text-container > h5 {
  font-size: 24px;
  font-weight: 800;
  color: #3d424d;
  margin: 0 25px;
}

#curtarget-text-container > p {
  font-size: 16px;
  font-weight: 400;
  color: #848389;
  margin: 15px 25px;
}

#curtarget-text-container > a {
  font-size: 16px;
  font-weight: 600;
  color: #3d424d;
  cursor: pointer;
  margin: 25px 25px;
}

#curtarget-text-container > a:hover{
  text-decoration: none;
  color: #545862; 
  font-weight: 800;
  transition: 0.5s;
}
